@{
    ViewBag.Title = "Bem Vindo";
}

<div class="slider hidden-xs">
    <ul class="rslides">
        <li><img src="~/Content/Images/bakery1.jpg" alt=""/></li>
        <li><img src="~/Content/Images/dairy1.png" alt=""/></li>
        <li><img src="~/Content/Images/fruitandveg1.png" alt=""/></li>
        <li><img src="~/Content/Images/meat1.png" alt=""/></li>
    </ul>
</div>
<br/>

<h3 class="text-center">Clique em uma Categoria</h3><br/>

<div class="row">
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/1">
                <h2>Celulares</h2>
                <img src="~/Content/Images/dairyicon1.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/2">
                <h2>Computadores</h2>
                <img src="~/Content/Images/meaticon1.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywrap">
            <a href="~/StoreFront/Index/3">
                <h2>Acessorios</h2>
                <img src="~/Content/Images/bakeryicon1.png" alt="" />
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="categorywraplast">
            <a href="~/StoreFront/Index/4">
                <h2>Perifericos</h2>
                <img src="~/Content/Images/fruiticon1.png" alt=""/>
            </a>
        </div>
    </div>
</div>